@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=League+Spartan:wght@100..900&display=swap');

:root {
  /* colors */
  --color-header: #000000;
  --color-body: #fefaf1;
  --color-primary: #02a97e;
  --color-secondary: #f26b41; 
  --border-color: #000000;
  --color-subtext: #898989;
  --color-input-field: #FFEFE6;
  --color-post-field: #FEF3ED;

  
  /* font-size */
  --fs-12: 12px;
  --fs-14: 14px;
  --fs-16: 16px;
  --fs-18: 18px;
  --fs-20: 20px;
  --fs-24: 24px;
  --fs-30: 30px;
  --fs-36: 36px;
  --fs-48: 48px;
  --fs-60: 60px;
  --fs-72: 72px;

  /* font-weight */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  /* font-family */
  --ff-heading:  'Albert Sans', Helvetica, sans-serif;
  --ff-body:    'League Spartan', Arial, sans-serif;

  /* horizontal padding */
  --pad-x-xxsmall: 4px;
  --pad-x-xsmall: 8px;
  --pad-x-small: 12px;
  --pad-x-default: 16px;
  --pad-x-large: 25px;
  --pad-x-xlarge: 40px;
  --pad-x-xxlarge: 64px;
  
  /* vertcal padding */
  --pad-y-xxsmall: 2px;
  --pad-y-xsmall: 4px;
  --pad-y-small: 6px;
  --pad-y-default: 8px;  
  --pad-y-large: 13px;
  --pad-y-xlarge: 20px;
  --pad-y-xxlarge: 32px;

  /* borders */
  --border-radius: 2px;

  /* margin */
  --mar-xxsmall: 4px;
  --mar-xsmall: 7px;
  --mar-small: 10px;
  --mar-default: 16px;  
  --mar-large: 25px;
  --mar-xlarge: 40px;
  --mar-xxlarge: 60px;
  --mar-section-separation-default: 100px;
  --mar-section-separation-large: 150px;

  /* default html styles*/
  font-size: var(--fs-14);
  font-family: var(--ff-body);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* reset

  A reset is just there to remove all default behavior from all elements.
  In this case, removing default margin and padding spaces.

  "box-sizing: border-box;" is more interesing 
  Basically, by default, box-sizing is set to content-box. May be important
  to know about this.

  It means that if you set a width/height of an element, the dimension of the elements, 
  its padding dimension, and border dimensions must be enclosed in that width/height. Refer 
  to mozilla docs :>

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.followed {
    background-color: var(--color-primary) !important
}

.hidden {
  display: none !important;
}

/*  PAGE STYLES  */
h1, h2, h3, h4, h5, h6, th, td {
    font-size: var(--fs-14);
    font-weight: var(--fw-regular);
    font-family: var(--ff-body);
}

/* SETUP STYLES */
html {
    display: flex;      
    justify-content: center;   
    align-items: center;      
}
body {
    min-height: 100vh;        
    max-height: 100vh;     
    aspect-ratio: 9 / 19.5;
    background-color: #000000;
    position: relative; 
    margin: 0;          
    display: flex;     
    flex-direction: column;
}

main {
    max-width: 50vh; 
    width: 100%;
    min-height: 100vh;  
    padding-bottom: 60px; 
    overflow-y: auto; 
    flex-grow: 1; 
    background-color: var(--color-body);
}
.notification-modal {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    z-index: 2; 
    display: flex;
    padding: var(--pad-y-default) var(--pad-x-default);
    flex-direction: column;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
    border: solid 2px black;
    border-radius: 10px;


    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: var(--mar-default);
        border-bottom: solid 1px var(--color-subtext);
    }
    header p {
        font-size: var(--fs-18);
        font-weight: var(--fw-medium);
    }
    header figure {
        width: 28px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 2px black;
        border-radius: 50%;
        background-color: var(--color-secondary);
        cursor: pointer;
    }
    header figure img {
        width: 24px;
        height: 24px;
        filter: invert(1)
    }

    .notif {
        display: flex;
        border-bottom: solid 1px var(--color-subtext);
        
        padding: var(--pad-y-default) 0;
    }
    .notif .title {
        font-size: var(--fs-16);
        font-weight: var(--fw-bold);
    }
    .notif .subtitle-1 {
        color: var(--color-subtext)
    }
    .notif .subtitle-2 {
        margin-top: var(--mar-xsmall);
    }
    
    .notif img {
        display: flex;
        border-radius: 50%;
        margin-right: 20px;
    }
}

.options-dropdown{
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    z-index: 2; 
    display: flex;
    padding: var(--pad-y-default) var(--pad-x-default);
    flex-direction: column;
    background-color: white;
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);


    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: var(--mar-default);
        border-bottom: solid 1px var(--color-subtext);
    }
    header p {
        font-size: var(--fs-18);
        font-weight: var(--fw-medium);
    }
    header figure {
        width: 28px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 2px black;
        border-radius: 50%;
        background-color: var(--color-secondary);
        cursor: pointer;
    }
    header figure img {
        width: 24px;
        height: 24px;
        filter: invert(1)
    }
}
.dropdown-list .dropdown {
    display: flex;
    border-bottom: solid 1px var(--color-subtext);
    padding: var(--pad-y-default) 0;    
    font-size: var(--fs-16);
}
.login-section-container, 
.signup-section-container, 
.new-user-section-container,
.achievement-section-container {
    height: calc(100vh - 60px); /* Full viewport height minus navbar height */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--color-primary);
}
.login-section, 
.signup-section,
.new-user-section,
.achievement-section {
    width: 100%;
    height: 90%;
    padding: var(--pad-x-xxlarge) var(--pad-x-large);
    gap: var(--mar-large);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: var(--color-body);
}
.login-section .header, 
.signup-section .header, 
.achievement-section .header {
    margin-bottom: var(--mar-large);
}
.login-section .header h1, 
.signup-section .header h1, 
.achievement-section .header {
    font-size: var(--fs-36);
    font-weight: var(--fw-medium);
}
.login-section .input-field-group, 
.signup-section .input-field-group {
    margin-top: var(--mar-small);
}
.login-section .input-field-group input,  
.signup-section .input-field-group input {
    width: 100%;
    padding: var(--pad-y-large) var(--pad-x-small);
    background-color: var(--color-input-field);
    font-weight: var(--fw-medium);
    font-size: var(--fs-16);
}
.login-section .button-group, 
.signup-section .button-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: var(--mar-default);
}
.login-section .button-group button, 
.signup-section .button-group button {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--mar-small);
    border-radius: 10px;
}

.login-section .header p {
    font-size: var(--fs-24);
    font-weight: var(--fw-medium);
}
.login-section .header p a {
    color: var(--color-secondary);
}
.login-section .input-field-group input ::placeholder {
    font-weight: var(--fw-medium);
    font-size: var(--fs-16);
}
.login-section .remember-me-group {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: var(--mar-small);
} 
.login-section .remember-me-group input {
    display: inline-block;
    width: 20px;
    height: 20px;
    accent-color: var(--color-primary);
    margin-right: var(--mar-small);
    border-radius: 0px;
    border: solid 1px var(--color-primary);
    cursor: pointer;
}
.login-section .remember-me-group span {
    color: var(--color-subtext);
    font-size: var(--fs-16);
    font-weight: var(--fw-medium);
}
.login-section .button-group .facebook-img-container {
    margin-right: var(--mar-xsmall);
}
.login-section .forget-password-group {
    font-size: var(--fs-18);
    margin-top: var(--mar-xlarge);    
    font-weight: var(--fw-medium);
}
.login-section .forget-password-group a {    
    font-size: var(--fs-18);
    font-weight: var(--fw-medium);
    color: var(--color-secondary);
}

.signup-section .footer {
    display: flex;
    flex-direction: column;
    margin-top: var(--mar-large);
    font-size: var(--fs-18);  
    font-weight: var(--fw-medium);  
}

.signup-section .footer a {
    color: var(--color-secondary);
}
.new-user-section {
    height: 85%;
}
.achievement-section-container .back-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    filter: invert(1)
}
.new-user-section .header {
    position: relative;
    top: -105px;
    display: grid;
    grid-template-columns: 120px 1fr;
    color: white;

}
.new-user-section .header .left {
    width: 105px;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 50%;
    margin-right: var(--mar-large);
}
.new-user-section .header .left img{
    object-fit: cover;
    border-radius: 50%;
}
.new-user-section .header .right {
    margin-top: var(--mar-default);
}
.new-user-section .header .right h1 {
    font-size: var(--fs-24);
    font-weight: var(--fw-semi-bold);
}
.new-user-section .header .achievement-icons {
    margin-right: var(--pad-x-small);
}
.new-user-section .header .achievement-icons figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: solid 3px white;
    background-color: var(--color-body);
}
.new-user-section .header .achievements {
    width: 100%;
    justify-content: left;
    display: flex;
    padding: var(--pad-y-small) var(--pad-x-default);
    border-radius: 10px;
    margin-top: var(--mar-default);
    background-color: var(--color-secondary);
    border: solid 2px black;
    cursor: pointer;
}
.new-user-section .header .achievement-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: var(--fs-16);
    color: white;
}
.new-user-section .header .achievement-count {
    font-size: var(--fs-24);
    font-weight: var(--fw-semi-bold);
}
.new-user-section .header .achievement-caret {
    display: flex;
    margin-left: var(--mar-xsmall);
    align-items: center;
    font-size: var(--fs-36);
    font-weight: var(--fw-bold);
}
.new-user-section .body {
    position: relative;
    top: -70px;
}
.new-user-section .followed-organizations img {
    width: 50px;
    height: 50px;
    margin: var(--mar-small) var(--mar-xxsmall);
    border-radius: 50%;       
}
.new-user-section .events-attending-section {
    margin-top: var(--mar-xlarge);
}
.new-user-section .events-attending-section .event-list{
    height: 300px;
    overflow-y: auto;
}
.new-user-section .events-attending-section  .event-list::-webkit-scrollbar {
    display: none;
} 
.new-user-section .organizations-following-section h3,
.new-user-section .events-attending-section h3 {
    font-size: var(--fs-24);
    font-weight: var(--fw-medium);
}
.new-user-section .organizations-following-section p, 
.new-user-section .events-attending-section p {
    color: var(--color-subtext);
    font-size: var(--fs-16);
}

.new-user-section .event-post {
    width: 100%;
    background-color: var(--color-post-field);
    padding: var(--pad-y-large) var(--pad-x-small);
    border: solid 2px var(--color-header);
    border-radius: 10px;
    margin: var(--mar-default) 0;
} 


.new-user-section .event-post .post-header {
    display: flex;
    grid-template-columns: 60px 1fr;
    column-gap: var(--mar-small);
    align-items: center;
}
.new-user-section .post-header img {
    border-radius: 50%;
}
.new-user-section .post-header .title {
    font-size: var(--fs-18);
    font-weight: var(--fw-semi-bold);
}
.new-user-section .post-header .subtitle {
    color: var(--color-subtext);
    margin: var(--mar-xsmall) 0;
}
.new-user-section .post-content {
    margin-top: var(--mar-default);
}
.new-user-section .post-content .event-name {
    font-weight: var(--fw-bold);
}
.new-user-section .post-content .content{
    margin-top: var(--mar-default);
}
.new-user-section .post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--mar-large);
}
.new-user-section .post-footer div {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 2px black;
    background-color: var(--color-secondary);
    cursor: pointer;
} 
.new-user-section .post-footer img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: invert(1);
} 

.achievement-section {
    padding: var(--pad-x-default);
}
.achievement-section .rectangular-rounded-bar {
    position: relative;
    width: 200px;
    height: 6px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 0px auto var(--mar-large); 
    background-color: var(--color-primary);
}
.achievement-section {
    text-align: center;
}
.achievement-section .achievement-row {
    margin-top: var(--mar-large);
    margin-bottom: var(--mar-xlarge);
}
.achievement-section .achievement-list {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: var(--mar-small);
    flex-wrap: wrap;
}
.achievement-section .achievement-row h3 {
    font-size: var(--fs-24);
}
.achievement-section .achievement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;   
}
.achievement-section .locked {
    opacity: 60%;
}
.achievement-section .locked .achievement-img-container{
    background-color: var(--color-primary);
}
.achievement-section .achievement-img-container {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 4px black;
}
.achievement-section .achievement figcaption {
    width: 16ch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.achievement-section .achievement-name {
    font-size: var(--fs-16);
    font-weight: var(--fw-semi-bold);
    margin: var(--mar-xsmall);
}


button, input {
    cursor: pointer;
}
.btn-primary {
    background-color: var(--color-secondary);
    color: white;
    font-size: var(--fs-16);
    font-weight: var(--fw-semi-bold);
    border: none;
}
.btn-secondary {
    border: solid 3px var(--color-secondary);
    color: var(--color-secondary);
    font-size: var(--fs-16);
    font-weight: var(--fw-semi-bold);
}

.notifications {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 16px;
    right: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 3px white;
    cursor: pointer;    
}

.options {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 16px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 3px black;
    cursor: pointer;
    filter: invert(1);
}

 /* NAVBAR STYLES */
footer {
    position: absolute;
    width: 101%;    
    bottom: 0;
    left: -2px; 
    height: 60px;
    background-color: var(--color-secondary);
    z-index: 10;   
    box-sizing: border-box;

    border: 2px solid black;
    border-top-left-radius: 15px;  
    border-top-right-radius: 15px; 
    display: flex;                   /* 1. Enable Flexbox on the container */
    align-items: center;             /* 2. Vertically centers items along the cross-axis */
    justify-content: space-around;   /* 3. Spreads items out horizontally with even space around them */
    padding: 0 10px;                 /* Optional: Add a little padding so images don't touch the screen edges */
}

/* IMAGE STYLES (the children elements) */
/* support both <div> (original) and <a> (anchor-based navigation) */
footer a, footer div {
    width: 110%;           
    display: flex;      
    justify-content: center;   
    align-items: center;
    text-decoration: none;    
}
footer img {
    width: 35px;           /* Controls the size of the images */
    aspect-ratio: 1/1;    /* Keeps them square */
    object-fit: contain;  /* Ensures the image content fits nicely within the square */
}

.selected-icon {
    height: 40px;
    border-radius: 50px;
    background-color: var(--color-primary);
    color: var(--color-body);
}

